/*
CREATOR: Ju Hong Kim with special thanks to Shishio-kun and all artists who have provided the pictures for people to crop and edit;
// Self-explanatory
*/
BODY {
	margin               : 0;
	color                : #FFFFFF;
	font-size            : 11.00px;
	font-family          : Verdana, Arial;
	background-image     : url(https://lh3.googleusercontent.com/9q3VFCmlvmyMakswpMYEaM4viKkSvTTy5yHO8caislPAMF1ArNU1fLI9YorVG-MCg9TLeN26I9gVi7N70V4Mcgnhk7cj-pfxtUrlkBKXtqyAER8jl8gOwz3k6d-7O34A-CPD2gCnz_Zzzh9SmTgXLDoNU2_VuY81XOZxR9oxYoUeMuzawUOXXDXJHnsJ6V5vratTn_pSlxWz2i_CGpSSFVc85ei-2kVJpz4Nw0Pmrs9Oe_aF-9QXtleGUHR_2e3oOs9mcZu-M0fVm3yffcJPOJKEmLcyzfPcAnOd2uajlYUoXbw3rvd7WCaewrXcH-gufHYH978b4XuiKhmROG65azZ-mK4m651MREcAxtk2sz4R9hXVdBDiP_Zgkmw4uKkh-ojfRbcVEba4GqT35s8THQlqj_AOOVyusR_rBDLC4XyKB5e-zB3GoB_q9qfEHiIhkFBNq8AiZmeq4d5AG3_90yRXQDF8CO2gExNRIuksAAJdiw2I8qyPiAhofcctks27CFG6429WojZryNjSBsY3zHPoMgwczFQi5Em3G9A00MW5BSS01J6j9sVb3d9wpao0OdU3j26lI6Oam9JtiUQS57TjYg4QNU1m4fVmX7mq5nByOV-l=w1024-h512-no);
	background-size      : cover;
	background-repeat    :no-repeat;
	background-attachment:fixed;
}

/* Top bar menu*/
#mal_control_strip {
	/* Customizing properties*/
	visibility: hidden;
}

/*home button*/
a[href="/"]  {
	display: block;
	visibility: visible;
	position: fixed;
	right: 10px;
	content: '';
}

/* Top bar menu all links*/
#mal_control_strip a

/* All links effects when mouse hovers on*/
#mal_control_strip a:hover

/* Using custom font settings. Will be applied to all menu links and text */
#mal_control_strip, #mal_control_strip a, #mal_control_strip td, #mal_control_strip td div {
	font-family: 'font_name' !important; /* Your custom font */
	color      : #FFFFFF !important; /* Font color*/
	font-weight: bold; /* Font weight */
	font-size  : 16px !important; /* Font size */
}

/* Username, Logout */
#mal_cs_listinfo
/* Username */

/* Disables History, Forum, Export, Log in, Create an Anime List, Learn more. You can't enable links */
#mal_cs_otherlinks { display: none; }
/* Disables History, Forum, Export, Log in, Create an Anime List, Learn more. You can enable some links */
#mal_cs_otherlinks { visibility: hidden; }
/* To enable some links from disabled list */
/*#mal_cs_otherlinks div a[href*="export"] { visibility: visible; } /* Enabling Export link */

/*
// Determines the positioning of your list
*/

#list_surround {
	margin           : 0 auto;	
	width            : 60%;
	background       : url(https://lh3.googleusercontent.com/FRgjw28CeQXOdQf7eUZk38_jP2aWdDRQaaGYqg7Ese0PxLcK_43Y3n3fuKH8orlmYuOII7BaTbGv3410rOlE3bPJrxqQqKM4Pj9kSpE59jdOUlLn9GoU180bQtgXMc19z8XENBBd_A6iZAjAN84N44rK8Rk3IEH7B-JD3dj_uxVfEyH_gVIABVE2xHXXVZmMXghmUX6WfgoAwDGuWug7Ld1G_PtAPzAPj3Wk1FeG5sDqp6-xGQ6ZSXC8sgx34bbf3w9aHiI8ZBLdqEJfgZ_yUNF8ZQRy_8XspmRTgHgtqQZgxwtBkjbsnhWaI0n9kHHeA9ESLo4sECmZYFP8ac5J9hJhKLGd5VQph9veYxwFPoI2Q_Jd-AJMW4ptOarelQ8qGt8dHmG4_qEqyX29R-gtRQVeJJTeqSGnyskVMB7AJv1o78oxGxN6K2hOQ4mfUGNFkkJ1hw0kChTGS-52KJQTqTpolZWyo740EtX97vqbGJsbT632AZ058WeVvfy04FpuWAK9wZx1W9WIWfm6pzbJsdDRmKYb05NWYl4uuqsc5KTG-0o4c2V5gqfq9eb-sAUHQT87J_-HXEWcp2nYaoyeAXGlEN7qEkaE3NFuphZMpuLp14rQ8e5u=w960-h323-no);
	background-size  : 100% 300px;
	background-repeat: no-repeat;
	padding-top      : 270px;
}
/*
// All links on your list
*/
a {
	color            : #333;
	text-decoration  : none;
}

a:visited {
	color          : #333;
	text-decoration: none;
}

a:hover {
	color            : #a12f2f;
	text-decoration  : underline;
}

/*
// Alternating row color 1 
*/
.td1, .td2 {
	background: rgba(230, 230, 230, .13);
	padding   : 2px;
	color     : #333;
}

/*
// This represents the "Anime Title", "Score", "# Eps" columns 
*/
.table_header {
	color         : #a91515;
	border-style  : none;
	background    : rgba(129,99,185, 1);
	padding       : 15px;
	letter-spacing: 5px;
	word-spacing  : 6px;
	padding       : 18px;
	/*font-size   : 1.75em;*/
	font-size     : 19px;
	font-weight   : 900;
	margin-top    : 0px;
}

.table_header:nth-child(1) {
	border-top-left-radius: 1.5em;
	padding-left          : 0px;
}

.table_header:nth-last-child(1) {
	border-top-right-radius: 1.5em;
}

.table_header a:hover{
	opacity: 1;
}

/*
// headerLink represents the color of the links inside the table_header 
*/
.table_headerLink {
	color      : #a91515;
	font-weight: 1000;
}

.table_headerLink:Visited {
	color: #a91515;
}

.table_headerLink:Hover {
	color: #a91515;
}

/*
// Controls the select form decoration (the drop down select box)
*/

.form
{
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	border-style: solid;
	color       : #000000;
	padding     : 2px;
	font-size   : 11.00px;
	font-family : Verdana, Arial;
}

/* Which 'status' up top is selected? */

.status_selected {
	color            : #FFFFFF;
	border-width     : 0px 1px 1px 0px;
	border-style     : solid;
	padding          : 2px;
	background-color : #3b3b3b;
}

.status_not_selected {
	color           : #FFFFFF;
	border-width    : 0px 1px 1px 0px;
	border-style    : solid;
	padding         : 2px;
	background-color: #1c1c1c;
}


/*All category buttons

Special Thanks to Shishio-kun for base code for the categories
*/
[class^="status"] {
	display      : block;
	border-radius: 50%;
	border-style : hidden;
	height       : 130px;
	width        : 130px;
	position     : fixed;
	left         : 10px; /*Same as border width*/
	z-index      : 500;
	font-size    : 0;
	margin       : 5px;
}

/*Watching button*/
[class^="status"]:first-child {
	top              : 5px; /*10px + border width*/
	background       : url(https://lh3.googleusercontent.com/dQdfPkQG6WYdoN3lm39-46ujenrTC5q7lMszyTJpsbaFhRxZxNxzYf1dq-Apr58F25_jZjMZ6gWWZJ5yJJxH39eXJW5aoLIc1T9OmlIAbWY-mOXOms0QR5ur7vJpEwWTXlvmTZ0IUsXiAkgZztUjfCklyYSjWrgc-tzsbAJ8QR5uPRUpqG0MCzWr3vLxMHjfKgzQvyTJJuXl1DLg283tNoDCUn-W24g6XGPdhAyHbH_W9JPdIKa8MpW79L6MlpwBfxRMM8BE9aHXNqpn5kaR7GsthnHKXsGPHuZkv8WtRJb7HZ3tNxUMUIph-W4TYHLNYxjbxPqmgJpLIx_1oJddG9t6It1hEbBWfpcKv5Hk69dzk-odhmyT_xoU2SvR4qe-gqVws-WgsNF1SCz6F3Z_0e8kI6AtQevqL7_1UhlT-ueT3p5y5KZDZFmJnmS4X09jrP7R5RLTevixYjx9r_iM3mVEl6_yKnQkaAd6m3TbiaGr03qIAS6dtndy2Ppruc95e7-_IgNb36yiYWL9giNKEAnhzQIQXhquRAiW54_wWJMnTrwVi0lLSMqNPA_ISFG7PYbAkcJwMxc9T-xQXSwyaQtji7X8MyXIYP6YmPC0AWmCLBV_n_FUHkkcswy7ntj5GI-ATJG3nmQ-VcI20ZCEfGYBxLalQEiV74uU_xnKfg=w620-h673-no);
	background-size  : 90% 90%;
	background-repeat: no-repeat;
	color            : ;
	z-index          : 510;
}

/*Completed button*/
[class^="status"]:nth-child(2) {
	top                : 125px; /*130px + border width*/
	background         : url(https://lh3.googleusercontent.com/zGvPuIjc5Py5Avy1WxGM86X-dnSDxLYRNyNwzWNrSMwWeIbi7_NZA9OD2mfl3_bz_boBAP20ypb0bbLTWH_WVOh9N14OhZLc18zMD8krlzDc9tzsElQfGz3nQUUSu4huxfije9JknQYGD5MvTtyHhObEWU502cu74nJ4nnpAwvqTokdinNMqzgR9RTPhINn57CskVg5oiCmk5fJEPmnlA3ywbTfH8DHkz3fWYJUMsHyGT8BzY21ZL4EeBHrP2qoHvBcvcMBUVWj2APCnSqdfy7E-Q40YWdAyD5NH2x7Il1zBRR37itNahI9ARRNttWsGXswosiqwioOvJttpL4ZU1C-RLBDxrB3c9ZXbzjqHKvFSzGOqMZYRl-4SfaFDMkOq7wjPv8fbgDfe6SxN5BwAQZaJY1OLogzj2A1wVBz4oSRkuGxxEBcNAzIo51N5_KED953rR5akQerT09w1wguE40BZ3qUv2R3Ger9QcJfrX82cQ2hZGmnelJrpm1MprpxZEIHMkc5u8jkPVYb6MjI080uYZ6Dsm2OMr0Riidqm2wGnW0tu7-7PN3vc4iaOW1jDYTYm5YZLcxNGrmSjLvG_qAX6tPrSKk8IkAJaTtsnU9eQ2JjfHcSc3sQ_B5lrCjS1yfxhs29EeSKxTyYP92X4jN5KonV1SV3Y0AbxdkaHoA=s673-no);
	background-size    : 90% 90%;
	background-repeat  : no-repeat;
	background-position: center;
	z-index            : 509;
}

/*On Hold button*/
[class^="status"]:nth-child(3) {
	top              : 250px; /*240px + border width*/
	background       : url(https://lh3.googleusercontent.com/jZ0RAyBD4IYeYbNp46cgyWtdnlL5TbE-U_ylxVFNLQbl-Yx54amLv2cEFCX4DUzPFPPObyrXL0iQDX6Skgxnps8OgXHq6wDK5sPXtz6PmhcjV2N_eFwKPQ55Q9uOPoDAbTPJMq_2kIkRmqraMF481WdEZlM6S51KjF_fvVrInMq9EUWIJBTtUJPn6lW7wyw9FJHiqbwmJje3zPIrXe-1fNvjIYLqCTcP6ycwk493sDHU4nKrR_ELezOGyxFHvEFu8HlSc8m8f9CPEkVgxdlvMzZ5Diodi3bX6TBBDuo9i3QeOgo0RBvOuXsM5cK_yetxF27md8ZTMOJV3bIynIV0GQ-bVQhg7DjT8vzI-qJpD7xz8leeXKRYr78K5asf1ATRCfdJCE_Hxk_AD4OuYdAD550ToGQZDcobSputtTyGhuAx1K-EgjgYoBHIWNe9MrZSyDkDPAtG3u1bUUGbQIURx_1bfBxYkMk6nAiDrkt4wuj6VA14hMqBD00D4zCJXZCQcM0zhCLKNPHpOjpOOMdueGhiE8dYGHo5wvd5yeSlWemPI2k4jUydyNy0mHOLZeNbFE_PBU1qSBdciPHVYiJ4PVy5ls8br4Jmz7NqKlwDatEQLzBAnbGvCiFL3Z-dANLlLf7e9dwMnk4jT0D4ErRWWg5ELtjf-mggavKwE086qg=w140-h160-no);
	background-size  : 90% 90%;   
	background-repeat: no-repeat;
	z-index          : 508;
}

/*Dropped button*/
[class^="status"]:nth-child(4) {
	top              : 375px; /*350px + border width*/
	background       : url(https://lh3.googleusercontent.com/kYlQPEhfhb5qHiSuJ0bnmGu2jlW13lrs_41dPOd4pjEe9iEQa7O_RA9cdK6yKhN6fxwmHsqP5FoIVHiSO88ePbxThrSUa1YWupp8Q3M0UG0eb9iPLahPqKsolyIzIa7dkXcw4A=s673-no);
	background-size  : 90% 90%;
	background-repeat: no-repeat;
	z-index          : 507;
}

/*Plan to Watch button*/
[class^="status"]:nth-child(5) {
	top              : 490px; /*460px + border width*/
	background       : url(https://lh3.googleusercontent.com/z5OG4fU2DDREuY5zD63c9YP04J9mJSh0v7GbumFO9VI4GZsW8-02U6AaSrxw9ZgHgMIeoPaMJxBq0S2Y5mjzGcbAjG-eipiZTGc9iC4qinDMqiyPfCSKh6MPdM2acYIr07csr0CXmq6AC8Q7LR-Ms7_lVjXB-HVqU0yCxaJCecHu32M7cJhFEilT73nilUd16xcmXzPbLfHGUMvcGs8WONuSvTk5BKUfLYGQRFgDyUyreRcno-YNCZQEj0MaACTyWd9TbAPHBFM5xGwqJJ_3NprI40oWHHZIqMTcuqfUThksAm-y8t_8IXaGL0wBia3tcnudM7hIAZYPEff6v1cl2J-VBQLbHc3b3LFdRlQOMFa8jV98q9RFaLnaAe4KSuJF-mwkPMpEVauqEPhQayXNlKeWds65TuzlkvN_Vmpr6Vgv_oQi7nkT1xQvT-ERJ9UNlZNSMRATWskHT1onhqxvNPiahfujIvG6C0TUmjZHS0_24K82jNwTlUO7TWvG-4uEdivZeuhnoIulBTR4mioSfI2BWahCO_2brJM_iZXQx0PL6uHb7tNBpfPfmkpbZ7BxBfbdmgOh8cAPWmUr6P4Gg4jOEWiZSAzQinMpcYWmF9lS4sXlxM68=w426-h549-no);
	background-size  : 90% 90%;
	background-repeat: no-repeat;
	z-index          : 510;
}

/*All Anime button*/
[class^="status"]:nth-child(6) {
	visibility         : hidden;
	top                : 600px; /*570px + border width*/
	background-position: 0 100%;
}


/*Selected link*/
.status_selected a {
	color      : white;
	font-size  : 15px;
	text-shadow: 2px 3px 2px black;
	word-wrap  : break-word;
	z-index    : 600;
}

/*Not selected links*/
.status_not_selected a, .status_selected a {
	display     : inline-block;
	position    : relative;
	padding-left: 80%;
	padding-top : 50%;
}

/*All links on hover*/
[class^="status"]:hover a {
	color      : white;
	text-shadow: 5px 5px 5px black;
	font-size  : 15px;
}

/*
Anime List only

CURRENTLY WATCHING HEADER
This is the header above currently watching/reading. Increase the amount after "height:" if your image doesn't fit the header. Lower the margin-bottom below zero if you wish the header move it behind the list.

If in Google Chrome your header has little to no height and doesn't increase when you try to change it, then replace "height:" with "padding-top:".
*/
.header_cw {
	position         : relative;
	background-image :url(https://lh3.googleusercontent.com/cct8jmnMShIiATNc7SGO3vj4QInanPKdjhvPeQ-IZTj8nsiML3eV7wWztpgUL3rFoSbg_hcrW7LXWOS2nB3yydC3BJ9PVM1xVMWMRWirEDlBHvJUnx8bvE778V2FbFy37z96y_0oilIfFfQ8snG7N_qHV7K4JevLzADxVb9-D4afD51BQONr61ywqNaIRf8-cmU6ucKXnOVagqZjkx7ET3-nYXZgulNjPVWMQWaJ-0DVujVHjVkfqy4qOwc9vlVLBj5tNr400u993qdeWeN8qPPow1mrPY3Evr-ETvidyphPT7SdmreTDrBmRiFz3cYN8yoQCAK2wI1KBitVZBRrJ5JrxdEqmmLNXjcgptbrbELZdOPV_Tl2P_gP7Gp5Ro0yAW5z9lR0ggURhdafbsmR6a_Rq-kyZXzZx6zL275RNQLAUTNwpR6vKMo169zyfQXH5M2mYiRpFWqOPfxvMl5vLA3GjTshGJbWqjBJ3mzmC5L8Y3l-8gbZkki8gUjA1Yt8WCNcPjct151p3F7ymRQvriANXtKQOYsgf6EKeFdNopOSgmc28Hznni-3s9nRozFys08c6g07lNr80M3xa_AoUdfApWFTpYPQgZRkCwdngFVDR1EA=w600-h200-no);
	height           : 200px;
	margin-bottom    : -10px;
	padding-bottom   : 0px;
	background-color : transparent;
	background-repeat: no-repeat;
	color            :;
	font-family      :;
	font-size        :;
	margin           : ;
}



/*
COMPLETED HEADER
This is the header above your anime/manga that's completed. Increase the amount after "height:" if your image doesn't fit the header. Lower the margin-bottom below zero if you wish the header move it behind the list.

If in Google Chrome your header has little to no height and doesn't increase when you try to change it, then replace "height:" with "padding-top:".
*/
.header_completed {
	background-image :url(https://lh3.googleusercontent.com/MeJkUvtRdbenwFZr6102E4R0epKHMaFawIGVKt2VSbPonbcZnEM_1ez6mszl-X9D1ckVxPKLBU4K24vqnfqVvJND0rDwxdfmN0-UtPNF3nJMnmnBgf-RLDxRc5qp0X0uGOGikKVEWx4wRs7R_EPcibz8YSYt9ailgI0Ji-WKmgCcFaErOCkUYxfDw0VviclFKtCKn3mXC9UsuZh9CIVpmOuan_IkUbiNyhTzAGStmydyeujviXlegFgSw0eiqXWblxN8QfGOSNgY_d5BYMwigp5oH1MM9Rxr12iiWrPhB2knSDPnMQdyHhUV7VpsKQh1GG17cnUxEQV_-1O3Bp30xubnF4__DPWIYZmySn4nYJ_-JwpNNVGUNi6l_8NxmNDeDbVjQaYpNm-JYvNLE9FyWib_sdsfffnnG2G5e2YTjfO7T6neKtHxIcQliRP__i5l54dzDGBdzWO-4108UpuToK0k6izRPnAPClTsNaDXmhDTSxHifKWKz8vz4GpTcjf8Rb8Jrz2DOLX35k_ZTjhLxZ25rIUv0ebbP5weYVGYhLM0tF2BCMVOWO46VlaVmfmGhZgJI9tsVF0_OGJHdxylr2BJm05gH7V2K8sL0zM8zYy1ndez=w600-h200-no);
	height           : 200px;
	margin-bottom    : 0px;
	background-color : transparent;
	background-repeat: no-repeat;
	color            :;
	font-family      :;
	font-size        :;
}

/*
ON-HOLD HEADER
This is the header above your animes/mangas on-hold. Increase the amount after "height:" if your image doesn't fit the header. Lower the margin-bottom below zero if you wish the header move it behind the list.

If in Google Chrome your header has little to no height and doesn't increase when you try to change it, then replace "height:" with "padding-top:".
*/
.header_onhold {
	background-image :url(https://lh3.googleusercontent.com/tzsgK2oya1nZACizx3izHzp-PhKqW-VKQ6nhbJM-pjJo34c0nPAElQL8bdHJ6ToP03vXxNcxbj6PjhnUMot8AufkaL6ZEGnkCU0p3d3-prFNFFQGov5ZCQ_QmqE9xj43-TpRlorW4V4NlOLaeonRRjSp3JNNoNZCfrjz_Ywa9gc918tw4LuMFfeSXUx2rlKyVuCHhFSUpFdgwKqpYAj5skXWopdoM7n1mrDy46BChScA-6dQN4S2UJgL_WJu_Zh1LZd87LmqDdq_Rwdwt84p-3y8OFtiChZxpQz1d1c_nsfwOMT2WpBOl_dvIeX-PQzQ0vxOSr9RfjMGZFQr7fSvjRFiwVBcnBOAGq2sw4pZGTI3rLhXvRbrJLZYMUnhIPODci90M5QePBdMhusABDTs3AJpzc_T1ty3fQfqWQvqgX-I8K4Mk_my5_aXlDFyUfLQYZ_EFqUV_1f-q2lvDioDgPxVD686OTUYyojfVSmFhukXaDyF3L2r8F4tQTRnbC7LXC0djF2x0zIXUtzbPsh7nfFNRK_MdANb-3Lz93fvvV3Hjj1-YDTIqUhSXdsDZLWio9RC0OCu5wMW7NbZ7advJkZuz1_H2Hv9Jdb1F9aM_kM_8PCb=w600-h200-no);
	height           : 200px;
	margin-bottom    : 0px;
	margin-bottom    : -10px;
	background-color : transparent;
	background-repeat: no-repeat;
	color            :;
	font-family      :;
	font-size        :;
}

/*
DROPPED HEADER
This is the header above your dropped animes/mangas. Increase the amount after "height:" if your image doesn't fit the header. Lower the margin-bottom below zero if you wish the header move it behind the list.
*/
.header_dropped {
	background-image :url(https://lh3.googleusercontent.com/zbbzkr17e-6kZY6bLgqZp3ZwJPjproEPjtWgj2LAefy47nokS_1eqVSUGsdGUv5N3ybgwAtrmSBOuZh8pAdH3ip7aGpSEz4NvQTynSK-eXuUMvOOBYTz4Kpu4eVfcFwS5CKvR6oq1zKYTSfjMHJBNDm6G44MULcgOsm-lOMd67I9SUUQQ65KLXIOyNbZnFT6yP_ToPPoPqrh5RJznl3hz3nIkPuzz2Xn2DhcqSQifQe23xKvGBKdj4SzB456tng2QppL3qR9yTXphLElWYOSwR8JuHElrEXeCJ9skCKK90zKXcoAICWWw0y-Ahu2jbzMPvK-p5oa6JNbkFKfIWTeZjCZfB8xrh1TS96_0qogLCeLefFGjW6emRNtivDVeF0G0Ux8eNNuXhGPSPFT-4dGvJ3kgKbXikYjBql3ffqxuZNjWSW3DohpL9lPZpUEYxmTUcaPzgglUtbEfdTNdZtQFDWY96njIJz6zn5REYtnsiuw_030DMUdVQjFyMIX2y537Pec91nb1HWTL9GrezkT0KGlitKLnI2AaB43xU85Ced-1Sdy30kWLcBftnniNalY-B9CAuaCfiCqLwSsZu3lORMdl4UA9FnaIcBft4XZ6bEzCK1R=w600-h200-no);
	height           : 200px;
	margin-bottom    : 0px;
	background-color : transparent;
	background-repeat: no-repeat;
	color            :;
	font-family      :;
	font-size        :;
}



/*
PLAN TO WATCH HEADER
This is the header above the anime/manga you plan to see or read on your list. Increase the amount after "height:" if your image doesn't fit the header. Lower the margin-bottom below zero if you wish the header move it behind the list.

If in Google Chrome your header has little to no height and doesn't increase when you try to change it, then replace "height:" with "padding-top:".
*/
.header_ptw {
	background-image :url(https://lh3.googleusercontent.com/IknAkcpSCR7OjSe88uCjU7DUCYEf-VjRzL3ZtqxVGoMxturKvoeaosmiWV8eJRdencEJ2lp1DPh_shTi3ssOn49yWuzS6c8YO8mjN394Rgva8rlc1LA82myfrVA0lPYuVNM0Jbzq7W7Y-2NHnELW0vfTEIs0V0KnAaLoRxkjT1SSvWNDPhe4eHz9dUXH6rBGSKZXThjsZh3-7gpQt6WTX7LX1J1AivmUEQ205MW2-SPagLvPwCFWQi_fXVKvLmUm-R51urN5G0rdABkDQOIaiT1ufM618wcj9l8tI9Ks4gSlrKvVJ5TRnIHG-EyAYrZ6vIOcV-hG2oZsZQWjKj63wl7I7C9PkxjLjFSn0ljkr_6IW1IQMHI5NE45z1G2UC0QU9M_9d8iMYPl4vJpZ6pGW2arde2AWRKQu6i71KPjRT94QQa9teVR9eOhNnbtGMnMoBvKuD6mtFjW8IX3uzh488CGOtRPvo0e-JFth98d7gxJY4uasaBlHqA2RYyBAurVWjlAbNKhtAHZ-cA-nfEYH1ULBMN04mrRn3tbWhG4uv-zyhyMU_-ZNdwHnIAtz9wAlc2JFze1KPCSbB2zGQBcrrLblbTw-bdRqqiaE--bZJ9SuIp_=w600-h200-no);
	height           : 200px;
	margin-bottom    : 0px;
	background-color : transparent;
	background-repeat: no-repeat;
	color            :;
	font-family      :;
	font-size        :;
}


/*
OTHER CODES
Stuff I had to add after site changes. You need this otherwise the headers won't be visible.
*/
tbody {
	background-color: transparent;
	background-image: none;
}


/*
REMOVE HEADER TEXT
These codes remove the original text like "Completed" and "Currently Watching" from
each category on the list. Some people will want the text gone so they can have their own custom logos. But if you want the text back, you have to remove this whole section. It shouldn't affect the images in any way.
*/
.header_title {
	color                  : gray !important;
	color                  : transparent !important;
	font-size              : 1px !important;
	font-size              : 0px !important;
	font-size              : 0 !important;
	font-size              : 0pt !important;
	border-top-left-radius : 5px;
	border-top-right-radius: 5px;
}


.category_totals {	
	border-style              : none;
	background                : rgba(129,99,185, 1);
	padding                   : 12px;
	border-bottom-left-radius : 1.5em;
	border-bottom-right-radius: 1.5em;
}

#grand_totals {
	text-align: center;
}

/* header_al is the div surrounding "User's Anime List" at the top */

.header_al {
	font-weight      : bold;
	font-size        : 16px;
}

/* header_al_links is the div with your "Profile" and "MyAnimeList home" links */
.header_al_links
{

}

/* controls what styles you can give to all the anime titles in your list */
.animetitle {
	font-weight: bold;
}

/*
copyright contains the "Producted by Garrett Gyssler" text
DO NOT REMOVE OR HIDE THIS DIV
IF FOUND TO BE REMOVED, YOUR LIST WILL BE REMOVED TOO
*/

#copyright {
	padding-top: 6px;
	text-align : center;
	margin     : 0 auto;
	width      : 920px;
	color      : black;
}
