/*
// Self-explanatory
Anime111
*/
/*@import "https://www.dropbox.com/s/uisq5akoajolak2/kim-2015-spring-manga.css?dl=0";*/


BODY
        {
        color: 0000000;
        font-size: 68.8%;
        font-family: Verdana, Arial;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-image: url('clannad-tomoyo-sakagami.jpg');
}

/*THE CODE BELOW IS NOT MY CODE********/
/*
:hover + .hide {
background-size: cover;
left: 830px;
top: 160px;
height: 350px;
width: 226px;
padding-bottom: 0px;
border-style: solid;
border-color: white;
border-top: 1px solid white;;
border-left: 1px solid white;
border-right: 1px solid white;
border-bottom: 1px solid white;
border-radius: 25px 25px 25px 25px;
background-color: rgba(200, 5, 200, 0.75);
background-position: center 50% !important;
background-repeat: no-repeat !Important;
display: block !important;
z-index: 3;
opacity: 0.9;
position: fixed;
}
*/
/* PREVIEW MSG ABOVE COVERS
Remove content: "preview"; to remove the PREVIEW text.
Change the text in quotations after content to what you want it to say above your cover pic.
Top and width controls the position of the text.
*/
/*
.hide:before {
background: transparent;
padding-bottom: 5px;
position: absolute;
text-align: center;
width: 225px;
top: -25px;
border-radius: 25px 25px 0 0;
}
*/
/*THE CODE ABOVE IS NOT MY CODE*********/

/*
// Determines the positioning of your list
*/

#list_surround
{
    margin: 5%; 
    width: 920px; //920px
    float: left;
}

/*
// All links on your list
*/

    a
        {
        font-style: 14px;
        color: black;
        font-weight: 650;
        text-decoration:none ;
        }

    a:visited
        {
        color: black;
        text-decoration: none;
        }

    a:hover
        {
        color: purple;
        text-decoration: underline;
        }

/*
// Alternating row color 1 
*/

    .td1
        {
  font-size: 12px;  
        color: #A111A6;
        border-width: thin;
        border-style: none;
        border-color: ;
        padding: 5px;
        background-color: #E6E6E6 ; 
        text-align: left;
        opacity: 0.6;
        }
   
/*
// Alternating row color 2 
*/

    .td2
        {
        font-size: 12px;    
        color: #A111A6;
        border-width: thin;
        border-style: none;
        border-color: ;
        padding: 5px ;
        background-color: #E6E6E6;
        text-align: left;
        opacity: 0.6;
        }
   
/*
// This represents the "Anime Title", "Score", "# Eps" columns 
*/
   
    .table_header {
  font-size: 18;
        color:white ;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-style: none;
        border-color: ;
        background-color: blue;
        padding:6px ;
        opacity: 0.6;
        }
    
/*
// headerLink represents the color of the links inside the_header 
*/
  
    .table_headerLink
        {
        color:white ;
        font-size: 16px;
        text-decoration: none;
        }
    
    .table_headerLink:Visited
        {
        color:white ;
        }
    
    .table_headerLink:Hover
        {
        color: black;
        
        }

/*
// Controls the select form decoration (the drop down select box)
*/

    .form
        {
        border-width: ;
        border-color: ;
        border-style: ;
        color:red ;
        padding: ;
        font-size: px;
    font-family: ;
        }
    

/* Which 'status' up top is selected? */

.status_selected
{
    color: white;
    //border-radius: 8px;
    //width: 10%;
    //background-color: blue;
   //opacity: 0.5;
  }

.status_not_selected, td.status_not_selected
{
    border-radius: 8px;
    //width: 10%;
    //background-color: blue;
   // opacity: 0.5;
  }

.status_selected a {
     color: white;
     font-size: 16px;
     font-weight: 700;
}

.status_not_selected a {
     color: white;
    font-size: 16px;
}
.status_not_selected a:hover, .status_selected a:hover {
     color: white;
     //font-size: 18px;
     font-weight: 800;
}
/*
.status_not_selected:nth-of-type(2), .status_not_selected a:nth-of-type(2), td.status_not_selected:nth-of-type(2) {
      margin: 50px;
     color: yellow;
      background: red;
}
*/
/*
Header classes for Currently Watching, Completed, Dropped, etc...
*/

.header_cw
{
}

.header_completed
{
}

.header_onhold
{
}

.header_dropped
{
}

.header_ptw
{
}

.header_title {
      font-size: 22px;
      font-weight: bold;
      //border-top-left-radius: 8px;
      //border-top-right-radius: 8px;
      //text-align: center;
     color: white;
      //padding: 10px;
      //background: blue;
      //opacity: 0.6;
}


.category_totals
{
      background: blue;
      color: white;
      font-weight: 600;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 20px;
      opacity: 0.6;
}


.category_totals:hover
{
      background: orange;
      color: white;
      font-weight: 600;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 20px;
      opacity: 0.6;
}

#grand_totals
{
  text-align: center;
}

/* header_al is thesurrounding "User's Anime List" at the top */

.header_al
{
  font-weight: bold;
  font-size: 16px;
        color: green;
}

/* header_al_links is thewith your "Profile" and "MyAnimeList home" links */
.header_al_links
{
        color: ;
}

/* controls what styles you can give to all the anime titles in your list */
.animetitle
{
  font-weight: bold;
        color: black;
}

.animetitle a:hover {
     height: 100px;
     width: 60px;
     background: black;
}

/*
copyright contains the "Producted by Garrett Gyssler" text
DO NOT REMOVE OR HIDE THIS DIV
IF FOUND TO BE REMOVED, YOUR LIST WILL BE REMOVED TOO
*/

#copyright
{
  padding-top: 6px;
  text-align: center;
  margin: 0 auto;
  width: px;
}
